#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Astroarch Bridge
Comment=Backend dashboard for mobile apps (Zarletti-Osservatorio Jupiter)
Exec=/usr/bin/python /usr/share/astroarch-bridge/desktop_dashboard/astroarch_bridge_dashboard.py
Icon=/usr/share/astroarch-bridge/desktop_dashboard/astroarch_bridge.png
Terminal=false
Categories=Science;Astronomy;Utility;
StartupNotify=true
